* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #12151a;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #2c333e;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
